@import url("https://fonts.googleapis.com/css2?family=Amethysta&family=Sofia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.aboutUs {
    background-image: url("../../images/img2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.aboutPara {
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 70%;
    font-size: 1.2rem;
}
.aboutUs2 {
    background-image: url("../../images/scroll-png.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 70vh;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    align-items: center;
    margin: 0 auto;
}
.h2Tag {
    font-family: "Dancing Script", cursive;
    color: red;
    font-size: 3.2rem;
    text-decoration: 2px solid black underline;
    font-weight: 800;
    text-shadow: 2px 2px 2px black;
    padding-top: 22%;
}
.htp-list {
    font-family: "Dancing Script", cursive;
    justify-content: center;
    margin: 2%;
    margin-left: 10%;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 400;
}
/* back btn */
.aboutBtn {
    font-family: "Dancing Script", cursive;
    border-radius: 4px;
    background-color: red;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    width: 30vh;
    cursor: pointer;
    border-radius: 60%;
    margin-top: 3%;
}
