.quiz-screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../../images/img3jpg.webp);
  background-position: center;
  background-size: cover;
}